<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغيير كلمة المرور</title>
    <style>
        body {
            background-color: #f7fafc;
            font-family: Arial, sans-serif;
            direction: rtl;
        }

        .container {
            max-width: 800px;
            margin: 2rem auto;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        .header,
        .footer {
            text-align: center;
            padding: 1rem;
            background-color: #f7fafc;
            color: #718096;
        }

        .content {
            padding: 1.5rem;
        }

        .content h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #2d3748;
        }

        .content p {
            color: #4a5568;
            margin-top: 1rem;
            line-height: 1.5;
        }

        .message-container {
            text-align: center;
            margin-top: 1.5rem;
            background-color: #edf2f7;
            color: #2d3748;
            padding: 0.75rem;
            border-radius: 0.375rem;
        }

        .footer a {
            color: #4299e1;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>تغيير كلمة المرور</h1>
            <p>{{date}}</p>

            <p>
                نعلمك أنه تم تغيير كلمة المرور الخاصة بحسابك  بنجاح.
                إذا كنت قد أجريت هذا التغيير، فلا داعي لاتخاذ أي إجراء إضافي.
            </p>

            <div class="message-container">
                <p>تم تغيير كلمة المرور الخاصة بك بنجاح.</p>
            </div>

            <p>
                إذا لم تكن أنت من قام بهذا التغيير، يرجى الاتصال بفريق الدعم لدينا على الفور لتأمين حسابك.
            </p>
        </div>

        <div class="content">
            <p>
                في حال واجهت أي مشكلة، لا تتردد في <a href="mailto:support@support.com">التواصل مع فريق الدعم</a>.
            </p>
            <p>شكراً لاستخدامك !</p>
            <p>فريق </p>
        </div>

        <div class="footer">
            <p>&copy; 2025 أنس ورديني. جميع الحقوق محفوظة.</p>
        </div>
    </div>
</body>

</html>