<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de Passe Modifié</title>
    <style>
        body {
            background-color: #f7fafc;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 2rem auto;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        .header,
        .footer {
            text-align: center;
            padding: 1rem;
            background-color: #f7fafc;
            color: #718096;
        }

        .content {
            padding: 1.5rem;
        }

        .content h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #2d3748;
        }

        .content p {
            color: #4a5568;
            margin-top: 1rem;
            line-height: 1.5;
        }

        .message-container {
            text-align: center;
            margin-top: 1.5rem;
            background-color: #edf2f7;
            color: #2d3748;
            padding: 0.75rem;
            border-radius: 0.375rem;
        }

        .footer a {
            color: #4299e1;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Mot de Passe Modifié</h1>
            <p>{{date}}</p>

            <p>
                Nous vous informons que le mot de passe de votre compte Starter-NestJs a été modifié avec succès.
                Si vous êtes à l'origine de cette modification, aucune autre action n'est nécessaire.
            </p>

            <div class="message-container">
                <p>Votre mot de passe a été modifié avec succès.</p>
            </div>

            <p>
                Si vous n'êtes pas à l'origine de cette modification, veuillez contacter immédiatement notre équipe de
                support pour sécuriser votre compte.
            </p>
        </div>

        <div class="content">
            <p>
                En cas de problème, n'hésitez pas à <a href="mailto:support@Starter-NestJs.com">contacter notre équipe de
                    support</a>.
            </p>
            <p>Merci d'utiliser Starter-NestJs !</p>
            <p>L'équipe Starter-NestJs</p>
        </div>

        <div class="footer">
            <p>&copy; 2025 Anass Ouardini. Tous droits réservés.</p>
        </div>
    </div>
</body>

</html>