<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Starter-NestJs</title>
    <style>
        body {
            background-color: #f7fafc;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 2rem auto;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        .header,
        .footer {
            text-align: center;
            padding: 1rem;
            background-color: #f7fafc;
            color: #718096;
        }

        .content {
            padding: 1.5rem;
        }

        .content h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #2d3748;
        }

        .content p {
            color: #4a5568;
            margin-top: 1rem;
            line-height: 1.5;
        }

        .button-container {
            text-align: center;
            margin-top: 1.5rem;
        }

        .button {
            background-color: #4299e1;
            color: #ffffff;
            padding: 0.5rem 1rem;
            border-radius: 0.375rem;
            text-decoration: none;
        }

        .footer a {
            color: #4299e1;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to Starter-NestJs</h1>
            <p>{{date}}</p>
        
            <p>
                We're excited to welcome you to Starter-NestJs! 
            </p>
            <p>
                To get started, simply click the button below to log in to your account:
            </p>
        
            <div class="button-container">
                <a href="{{frontEndUrl}}" class="button">Get Started</a>
            </div>
        </div>


        <div class="content">
            <p>
                If you have any questions, feel free to <a href="mailto:support@Starter-NestJs.com">contact our support team</a>.
            </p>
            <p>The Starter-NestJs Team</p>
        </div>

        <div class="footer">
            <p>&copy; 2025 Anass Ouardini. All Rights Reserved.</p>
        </div>
    </div>
</body>

</html>